* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100%;
  background-image: linear-gradient(45deg, orange, purple);
  font-family: consola, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.titulo {
  color: aliceblue;
  margin: 10px;
  padding: 10px;
}